generated-by = makedeb
pkgname = shlibdeps-resolve
pkgbase = shlibdeps-resolve
pkgdesc = An\ shared\ library\ dependencies\ resolver
pkgrel = 1
pkgver = 0.1
url = https://github.com/huakim-tyk/shlibdeps-resolve/
arch = all
license = GPL2
source = build.sh
source = shlibdeps-resolve.pl
sha256sums = 06a0cb545a0e7228fd41f3f0bfcb46f6c252bd0b657491836d99804876923243
sha256sums = b450ce7d8564aa47801eb90b18c013e7223306974272569e012d86a16c2938f3
