generated-by = makedeb
pkgname = shlibdeps-resolve
pkgbase = shlibdeps-resolve
pkgdesc = An\ shared\ library\ dependencies\ resolver
pkgrel = 1
pkgver = 0.1
url = https://github.com/huakim-tyk/shlibdeps-resolve/
arch = all
license = GPL2
source = build.sh
source = shlibdeps-resolve.pl
sha256sums = e0cda23e99b2d6b32a23caa729a32ea867dd7bbf4c81bfc6acdfee4222212364
sha256sums = b450ce7d8564aa47801eb90b18c013e7223306974272569e012d86a16c2938f3
